[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"delegator.py" = "*"
argcomplete = "*"


[dev-packages]

cached-property = "*"


[requires]

python_version = "3.6"