[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"delegator.py" = "*"
crayons = "*"
pyyaml = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[dev-packages]
cached-property = "*"
pylint = "*"
rope = "*"
"autopep8" = "*"
"doc8" = "*"
pygments = "*"
sphinx-rtd-theme = "*"
pytest-cov = "*"
pytest = "*"
pytest-mock = "*"
codecov = "*"

[scripts]
clean = "rm -rf chuda.egg-info dist"
build = "python setup.py sdist"
doc = "make -C docs html"
test = "pytest"
release = "./release.sh"
