[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"delegator.py" = "*"
argcomplete = "*"
crayons = "*"
pyyaml = "*"


[dev-packages]

cached-property = "*"
pylint = "*"
rope = "*"
"autopep8" = "*"


[requires]

python_version = "3.6"

[scripts]

clean = "rm -rf chuda.egg-info dist"
build = "python setup.py sdist"